.a-image {
  width: 100%;

  &.-offers {
    margin-bottom: 40px;
  }

  &.-staff {
    margin-bottom: 30px;
  }

  &.-shadow {
    box-shadow: 0 0 8px 0 rgba($black, .3);
  }

  &.-award {
    max-width: 120px;
    margin-bottom: 20px;
  }

  &.-suite {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}